<header id="site-header" class="site-head">
    <div class="site-head-content">
        <a class="logo" href="/"><img src="{{ "/assets/img/logo.png" | relative_url }}" border="0"  /></a>
        <h1>CASE INSENSITIVITY</h1>
        <h2>software development, devops, and dataops.</h2>
    </div>
</header>
<script type="text/javascript">
    window.onscroll = function() {checkHeader()};

    var header = document.getElementById("site-header");

    var sticky =  header.offsetTop + header.offsetHeight;

    function checkHeader() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");   
        }
    }
</script>